.PartnerItem {
    padding: 8px 10px;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
    }

    &.disabled {
        opacity: 0.8;
    }

    .name {
        flex-grow: 1;
    }

    .author {
        width: 200px;
        flex-shrink: 0;
    }

    .type {
        width: 100px;
        flex-shrink: 0;
    }
}