.SupportList {
    margin-top: 20px;
    overflow: auto;
    height: 100%;

    .head {
        padding: 8px 10px;
        background-color: #075ea5;
        color: #fff;
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        font-weight: 700;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);

        .id {
            width: 50px;
            flex-shrink: 0;
        }

        .title {
            flex-grow: 1;
        }

        .status {
            width: 100px;
            flex-shrink: 0;
        }

        .name,
        .phone,
        .type {
            width: 150px;
            flex-shrink: 0;
        }
    }

    .list {
        max-height: calc(100% - 110px);
    }
}