.DocumentList {
    height: calc(100% - 118px);

    .name {
        flex-grow: 1;
    }

    .object {
        width: 350px;
        flex-shrink: 0;
    }

    .type {
        width: 150px;
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .DocumentList {
        display: block;
        padding: 0;
        margin-bottom: 0;

        .name,
        .object,
        .type {
            position: relative;
            display: block;
            width: 100%;
            padding-right: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;

            &::before {
                display: inline-block;
                width: 100px;
                padding: 8px 10px;
                background-color: #075ea5;
                color: #fff;
                margin-right: 10px;
                border-bottom: 1px solid #fff;
            }
        }

        .name::before {
            content: 'Название';
        }

        .object::before {
            content: 'Объект';
        }

        .type::before {
            content: 'Тип';
            border-bottom: none;
        }
    }
}

@media (max-width: 480px) {
    .DocumentList {
        font-size: 13px;

        .name,
        .object,
        .type {
            &::before {
                width: 80px;
            }
        }
    }
}